
<% if current_user %>
  <div class="page-header text-center">
    <h2>Your Twitter Information & Followers</h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-body card border-primary cardlist text-center">
      <ul>
        <span class="profile"><%= image_tag current_user.image_url, alt: current_user.name %></span><br>
        <span class="profile"><%= current_user.name %></span><br>
        <span><strong>URL:</strong> <%= current_user.url %></span><br>
        <span><strong>Location:</strong> <%= current_user.location %></span><br>
        <span> <strong>Provider:</strong> <%= current_user.provider %></span><br>
        <span><strong>uID:</strong> <%= current_user.uid %></span><br>
      </ul>
    </div>

    <h2 class="followerlist text-center"> Followers</h2>
<div class="card-columns">
<ul class="fa-ul">
  <% @followers.each do |follower| %>
    <li class="card border-primary cardlist w-60 cardclick"><i class="fa-li fab fa-twitter-square"></i><%= follower.name %></li>
  <% end %>
</ul>
</div>
</div>

  </div>
<% else %>
  <div class="jumbotron text-center">
  <h1>Welcome!</h1>
  <p>Authenticate via twitter to get started.</p>
  <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to 'Check out your followers!', '/auth/twitter' %></button>
</div>
<% end %>



