
<% if current_user %>
  <div class="page-header">
    <h2 class="">Your Twitter Information & Followers</h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-body card">
      <ul>
        <span class="profile"><%= image_tag current_user.image_url, alt: current_user.name %></span><br>
        <span class="profile"><strong>Name:</strong> <%= current_user.name %></span><br>
        <li><strong>Provider:</strong> <%= current_user.provider %></li>
        <li><strong>uID:</strong> <%= current_user.uid %></li>
        <li><strong>Location:</strong> <%= current_user.location %></li>
        <li><strong>URL:</strong> <%= current_user.url %></li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="jumbotron text-center">
  <h1>Welcome!</h1>
  <p>Authenticate via twitter to get started.</p>
</div>
<% end %>

<h2 class="followerlist"> FOLLOWERS:</h2>
<%#= @followers.count %>
<%#= @followers.first(10).to_json %>
  <%# @followers.each do |follower| %>
  <div class="card">
<ul>
  <% @followers.each do |follower| %>
    <% cache @followers do %>
    <li class="card cardlist"><i class="fab fa-twitter-square"></i> <%= follower.name %> </li>
  <% end %>
  <% end %>
</ul>
</div>



